html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

body{
    background-color: #e8e8e8;
}

.container{
    padding: 10px;
    margin: 10px;
}

#header{
    margin-bottom: 30px;
}

.logo{
    
}

.menu{
    float: right;
}

.menu ul li{
    display : inline;
}

.menu ul li :hover{
    background-color: grey;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    background-color: orange;
    padding: 5px;
}

#body{
    background-color: white;
    /*column-count: 3;*/
}

#footer{
    text-align: right;
    font-size: 0.75em;
}

.flexcontainer{
    display: flex;
}

.flexitem{
    margin: 10px;
    background-color: grey;
    width: 300px;
    height: 300px;
}

.flexitem:hover{
    transform: rotate(45deg);
}

.halo{
    
}