body{
    margin-top: 10px;
    margin-bottom: 10px;

    margin-left: 10%;
    margin-right: 10%;
}

.logo{
    font-size: 2em;
    font-weight: bold;
}

.btn-signup{
    font-size: 1.3em;
}

* {
  border-radius: 0 !important;
}

.carousel-inner .item img {
    max-height: 300px;
    display: block;
    margin: 0 auto;
}