.navbar{
    margin: 0;
    background-color: white;
    border: none;
}

.carousel-inner .item img {
    max-height: 300px;
    display: block;
    margin: 0 auto;
}

.footer{
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    color: white;
}

.img-container-content1 img{
    width: 100%;
    height: 150px;
}

.content-container-content2{
    height: 200px;
    width: 100%;
}

.content-margin
{
    margin-bottom: 20px;
}

.partner-logo{
    padding-top: 10px;
    border-right: 1px solid #afafaf;
}